$primary-main-color: #1881bc;
$secondary-main-color: #b98919;
$background-default-color: #efefef;
$error-color: #e24c4b;
$warning-color: #ffc005;
$success-color: #4bae4f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}

#layout {
  flex: 1;
  max-width: 100%;
  // full height - navbar height
  height: calc(100% - 64px);
}

.page-wrapper,
#map {
  width: 100%;
  height: 100%;
}

.form-select {
  .form-select__control {
    border-color: transparent !important;
    box-shadow: none;
    padding: 9px;
  }
  .form-select__menu {
    z-index: 2;
  }
}

.form-select-controller {
  .form-select-input-wrapper {
    padding: 0;
  }
}

.form-creatable-select {
  .form-creatable-select__control {
    border-color: transparent !important;
    box-shadow: none;
    padding: 9px;
  }
  .form-creatable-select__menu {
    z-index: 2;
  }
}

.form-creatable-select-controller {
  .form-creatable-select-input-wrapper {
    padding: 0;
  }
}
